## Configurando o MySQL com Python

Neste momento, vamos configurar a integração entre o MySQL e Python. Isso nos permitirá executar consultas, inserções e outras operações no banco de dados MySQL usando o Python como nossa linguagem de programação principal.

In [37]:
import mysql.connector

connection = mysql.connector.connect(
    host = 'localhost',
    user = 'DBA',
    password = '1234'
)

connection

Criaremos um cursor, que é um objeto utilizado para executar instruções SQL no contexto do Python. Essse cursor nos permitirá enviar consultas e comandos SQL para o banco de dados MySQL por meio da conexão estabelecida e obter os resultados de volta para serem processados em nosso código Python

In [ ]:
cursor = connection.cursor()
cursor

## Criando uma base de dados

O método `execute()` é usado para compilar uma instrução SQL

In [3]:
cursor.execute("CREATE DATABASE IF NOT EXISTS db_produtos;") # Cria o DB caso não exista

In [ ]:
cursor.execute("SHOW DATABASES;")

for db in cursor:
    print(db)

## Criando uma tabela

Antes de criar nossa tabela, vamos revisar as colunas necessárias que precisaremos incluir nela. Essa etapa é importante para garantir que nossa tabela seja projetada corretamente, atendendo aos requisitos de armazenamento e organização dos dados.

In [5]:
import pandas as pd 

df_livros = pd.read_csv('/home/daniel/Documentos/python-pipeline-com-Mongo-e-SQL/data/tabela_livros.csv')

In [ ]:
df_livros.columns

In [ ]:
df_livros.shape # rows / columns

In [8]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS db_produtos.livros (
        id VARCHAR(100),
        Produto VARCHAR(100),
        Categoria_Produto VARCHAR(100),
        Preco FLOAT(10,2),
        Frete FLOAT(10,2),
        Data_Compra DATE,
        Vendedor VARCHAR(100),
        Local_Compra VARCHAR(100),
        Avaliacao_Compra INT,
        Tipo_Pagamento VARCHAR(100),
        Qntd_Parcelas INT,
        Latitude FLOAT(10,2),
        Longitude FLOAT(10,2),       
        PRIMARY KEY (id)  
    );
""")

**Selecionando a base de dados para verificar a tabela criada**

In [ ]:
cursor.execute("USE db_produtos;")
cursor.execute("SHOW TABLES;")

for tables in cursor:
    print(tables)

## Inserindo os dados do csv na tabela

Para inserir os dados na tabela do MySQL, é necessário percorrer cada linha do DataFrame e transformá-las em tuplas. Essa abordagem permite que mapeemos os dados do DataFrame para as colunas correspondentes da tabela do MySQL de forma eficiente e precisa.

In [ ]:
lista_dados = [tuple(row) for i, row in df_livros.iterrows()] #transforma o dataframe em lista
lista_dados

In [ ]:
sql = "INSERT INTO db_produtos.livros VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"

cursor.executemany(sql, lista_dados) #executa para cada linha da lista com os valores respectivamente
connection.commit()

In [ ]:
print(cursor.rowcount)

## Visualizando os dados inseridos

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS db_produtos.tb_produtos_2021_em_diante(
               id VARCHAR(100),
               Produto VARCHAR(100),
               Categoria_Produto VARCHAR(100),
               Preco FLOAT(10,2),
               Frete FLOAT(10,2),
               Data_Compra DATE,
               Vendedor VARCHAR(100),
               Local_Compra VARCHAR(100),
               Avaliacao_Compra INT,
               Tipo_Pagamento VARCHAR(100),
               Qntd_Parcelas INT,
               Latitude FLOAT(10,2),
               Longitude FLOAT(10,2),

               PRIMARY KEY (id));
""")

In [21]:
df_produtos = pd.read_csv("/home/daniel/Documentos/python-pipeline-com-Mongo-e-SQL/data/vendas_a_partir_de_2021.csv")

In [ ]:
df_produtos.shape

In [ ]:
lista_dados = [tuple(row) for i, row in df_produtos.iterrows()]
sql = "INSERT INTO db_produtos.tb_produtos_2021_em_diante VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

cursor.executemany(sql, lista_dados)
connection.commit()

In [ ]:
print(cursor.rowcount)

# Visualizando os dados inseridos

In [ ]:
cursor.execute('SELECT * FROM db_produtos.livros')

for row in cursor:
    print(row)

In [36]:
cursor.close()
connection.close()